<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    {{bday}}
  </h2>
 <div class="container-fluid">
   <div class="row">
     <div class = "col-md-12">
       <div class= "form-group">
         <label for ="datetimepicker">Date Time Picker</label>
         <angular2-date-picker class="form-control" id="datetimepicker"[(ngModel)] ="date" [settings]="settings" style="padding: 0.2 rem 0.1 rem"></angular2-date-picker>
       </div>
     </div>
    
    
   </div>
 </div>